<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".html" mimeType="text/html" />
            <mimeMap fileExtension="..pdf" mimeType="application/pdf" />  
        </staticContent>
    </system.webServer>
    <location path="img">
        <system.webServer>
            <caching>
                <profiles>
                    <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                    <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                </profiles>
            </caching>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
                <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
                <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
                <mimeMap fileExtension=".png" mimeType="image/png" />
                <mimeMap fileExtension=".html" mimeType="text/html" />
                <mimeMap fileExtension="..pdf" mimeType="application/pdf" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
